<!DOCTYPE html>
<html lang="en" ng-app="todoApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>AngularJS</title>
  <link rel="stylesheet" href="styles.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
</head>
<body>
  <section class="box" ng-controller="TodoController as $ctrl">
    <h2>TODO List</h2>
    <p>A place to store the things you have to do!</p>
    <input type="text" placeholder="Filter your to-dos">
      <ol>
        <li ng-repeat="Carly in $ctrl.tasks" ng-class="{'completed': Carly.completed === true}">
          <button ng-if="Carly.completed === false}">Complete</button>
          <p>{{ Carly.task }}</p>
          <p class="X">X</p>
        </li>
      </ol>
      <input type="text" placeholder="Add your to-do"> 
      <button class="button">Add</button>

  </section>

  <script src="https://code.angularjs.org/1.6.5/angular.js"></script>
  <script src="app/module/module.js"></script>
  <script src="app/controllers/controller.js"></script>
</body>
</html>