html {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

body {
    background: linear-gradient(to right, #f857a6, #ff5858);
}

.box {
    width: 500px;
    height: 500px;
    margin: 100px auto;
    background-color: white;
    text-align: left;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
} 

  .button {
    color: #ff1493;
    border-radius: 2px;
  }

  .X {
      display: inline;
  }
